:root {
    --fundo: #115231;
    --cartao-frente: #9cc2ac;
    --cartao-verso: #64dd34;
    --preto: #000000;
    --branco: #ffffff;
}


body {
    background-color: var(--fundo);
}

header{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--preto);

}
header a{
    color: var(--branco);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 40pxp;
    display:  grid;
    gap: 2rem;
}

.cartao{
    background-color: var(--cartao-frente);
    padding: 40px;
    box-shadow: 5px 5px 5px var(--preto);
    cursor: pointer;
}

.cartao:hover{
    background-color: var(--cartao-verso);
    padding: 40px;
    color: var(--branco);
    display: none;
}